<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title> <%= process.env.APPN %> </title>
</head>
<body class="body">
    <header class="header">
        <div class="logo">Nicos Login</div>
    </header>
    <section>
        <%
         if(req.session.user){
            console.log(req.session.user);
        %>
        <h1>You already have an open session on this computer</h1>
        <input type="submit" value="Log out" id="logout"> <button><a href="/profile">See profile</a></button>
        <%
        }else{ 
            console.log(req.session.user);
            %>
        <div>
            <h2>You need a session to continue</h2>
            <em> <a href="/login">Login</a> or <a href="/register">sing Up</a> </em>
        </div>
        <% } %>
    </section>
    <footer></footer>
    <script src="/js/app.js"></script>
</body>
</html>